.container{
    width: 960px;
    margin: auto;
    border:1px solid blue ;
    padding: 2em;
}
#content{
    overflow: auto;
}
#post{
    background-color: red;
    width: 560px;
    height: 300px;
    float: left;
}
#sidebar{
    width:400px ;
    height: 300px;
    float: right;
    background-color: yellow;
}
#clear{
    clear: both;
}